<!-- <%= link_to 'Sign Out', destroy_user_session_path %> -->
<h1 align="center" >Description</h1>
<div class="container">
	<p class="text-success">
		Finance Tracker is simple yet useful application for tracking information about your expenses and incomes. Entering data with category selection takes only few seconds, you can do it even while you are buying something.
		Track your finance state with help of convenient visual diagrams. Using feature “where money goes” you can always see, what is the most money-losing category of your budget.
		Features:
		<li>Tracking expenses and incomes
		<li>Full metro-style
		<li>More than 20 predefined categories, with possibility to change and reorder them
		<li>Displaying expenses and incomes by date and by category
		<li>Displaying your balance chart
		<li>Displaying most money-losing categories
		<li>Lightning fast entering new data – just few seconds!
		<li>A set of icons for customizing your own categories
		<li>Displaying balance, expenses, incomes on the live tile
		<li>Onedrive backup and restore
		<li>Accounts support

		To delete expenses/incomes/categories make long tap on them.
	</p>
</div>